body{
    background-color: pink;
  }
  
  .timer {
    display: flex;
    margin:0 40%;
  }
  
  .field {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    width: 150px;
    height: 80px;
    background-color: #fff;
    
  }
  h1{
    font-family: Impact, fantasy;
    font-weight: bold;
    font-size: 40px;
   text-align: center;
  }
  .value {
    font-size: 48px;
    width: 50px;
    font-family: Marker Felt, fantasy;
  
  }
  .label{
    font-family: Marker Felt, fantasy;
    font-weight: 500;
    font-size: 18px;
  }